  <!-- Sidebar Widgets Column -->
<div class="col-md-4">

   <!-- Search Widget -->

      {{!-- <div class="input-group" style="margin-top: 40px">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div> --}}

   <!-- Side Widget -->

  {{>home/side-widget}}

 


   <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row">

      {{#each categories}}
        <div class="col-lg-6">
          <ul class="list-unstyled mb-0">
            <li style="color:blue">
               {{name}}
            </li>
          </ul>
        </div>

        {{/each}}
        
      </div>
    </div>
  </div>

   

</div>